<div class="row">
	<div class="col-md-12">
		<%= bootstrap_form_for [@raid, @child], :html => {:multipart => true} do |f| %>
			<%= render '/children/form', f:f %>
			<% if @raid.child_begger? %>
			<%= f.hidden_field :is_child_begger, value: true%>
			<%end%>
			<%= submit_tag "#{t('save_and_next')}", class: 'btn btn-primary' %>
			<%= submit_tag "#{t('finish')}", class: 'btn btn-primary' %>
		<%end%>
	</div>
</div>