<table id="datatable" class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%=t('id')%></th>
      <th><%=t('title')%></th>
      <th><%=t('date_')%></th>
      <th><%=t('time')%></th>
      <th><%=t('raid_for')%></th>
      <th><%=t('location')%></th>
      <th><%=t('child_labour')%></th>
      <th><%=t('child_begger')%></th>
    </tr>
  </thead>

  <tbody>
    <% @raids.each do |raid| %>
      <tr>
        <td></td>
        <td><%= raid.id %></td>
        <td><%= raid.title %></td>
        <td><%= raid.datetime.strftime('%d/%m/%Y') %></td>
        <td><%= raid.datetime.strftime('%I:%M %p') %></td>
        <td><%= raid.raid_for %></td>
        <td><%= raid.location.name %></td>
        <td><% unless raid.child_begger? %>
          <%= raid.child_labours_count %>
          <%else%>-<%end%></td>
        <td><% if raid.child_begger? %>
          <%= raid.child_beggers_count %>
          <%else%>-<%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>