<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">About Us</li>
</ol><!-- breadcrum -->

<div class="container">
  <div class="col-lg-11 col-sm-11">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <%= image_tag "aump.gif", :class=>"img-responsive", :alt=>"Mumbai Police" %>
      </div>
      <div class="col-lg-12 col-sm-12">
        <h2>Mumbai Police</h2>
        <p class="impmsg">Mumbai Police shall ensure the Rule of Law, enforce the law of the land impartially and firmly without fear or favour, and strive to create a fear free environment that is conducive to growth and development.</p>
        <p>Mumbai Police will remain committed to maintaining public order, preventing and detecting crime, maintaining and promoting communal harmony, ensuring a smooth flow of traffic, and taking strong action against terrorism, organized crime, anti-social / illicit activities.</p>
        <p>We will serve and protect all, particularly the downtrodden, the weak, women, minorities, senior citizen&#39s, slums dwellers, the poor & other marginalized sections of society. Prompt & compassionate response to every call of citizen&#39s in distress.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <%= image_tag "dgoffice.gif", :class=>"img-responsive", :alt=>"Mumbai Police" %>
      </div>
      <div class="col-lg-12 col-sm-12">
        <h2>JUVENILE AID PROTECTION UNIT (JAPU)</h2>
        <p class="impmsg">This unit takes charge of the unattended juvenile boys and girls u/s.32 (a), Juvenile Justice Act 2000 and sends them to the Juvenile observations homes-at Dongri, Mumbai.</p>
        <p>Juveniles are subsequently sent back to their respective homes as per the orders of chairman, Juvenile Welfare Board, Dongri for rehabilitation.</p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <%= image_tag "ijm1.jpg", :class=>"img-responsive", :alt=>"japu" %>
      </div>
      <div class="col-lg-12 col-sm-12" align="justify">
        <h2>International Justice Mission (IJM)</h2>
        <p class="impmsg">RESUE THOUSANDS, PROTECT MILLIONS AND PROVE THAT JUSTICE FOR THE POOR IS POSSIBLE</p>
        <p>International Justice Mission India seeks to help protect the poor from violence. Our approach to justice is holistic. We work directly and collaboratively with the local government officials in securing justice for its most vulnerable citizens.

          IJM India seeks to help rescue and rehabilitate victims of violence by working with the state and district government officials, police and public prosecutors.

          IJM India is a Section 25 Company (not-for-profit) incorporated under the Companies Act 1956.</p>
        <a href="https://www.ijm.org/" class="button">Go To IJM</a>
        <p>International Justice Mission<br>
          PO Box 58147<br>
          Washington, DC 20037</p>
        <a href="http://www.ijmindia.org/" class="button">Go to IJM India</a><br>
        International Justice Mission India<br>
        PO Box 9004<br>
        Goregaon (E), Mumbai-400063<br>
        Phone:+91 22 6771 2900<br>
        FAX:+91 22 6771 0999
        mumbai@ijm.org
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>
