<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">what is child labour</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu" page="childlabour.html"><a>Child Labour</a></li>
      <li class="sidemenu" page="defination.html"><a>Definitions</a></li>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <%= image_tag "wicl.png", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
      </div>
      <div class="col-lg-12 col-sm-12">
        <h2>Child Labour</h2>
        <p class="impmsg">India is the sadly the home to the largest number of the labourers in the word. The census found an increase in the number of child labourers from 11.28 million in 1991 to 12.59 million in 2001.</p>
        <p>M.V. Foundation in Andhra Pradesh found nearly 400,000 children,mostly girls between seven to 14 yearsof age, toiling for 14-16 hours a day in cottonseed production across the country of which 90% are employed in Andhara Pradesh. 40% of the labour in a precious stone cutting sector is children.</p>
        <p>NGOs have discovered the use of child labourers in mining industry in Bellary District in Karnataka in spite of a harsh ban on the same. In urban areas there is high employment of children in the zari and embroidery industry.</p>
        <p>India is the sadly the home to the largest number of the labourers in the word. The census found an increase in the number of child labourers from 11.28 million in 1991 to 12.59 million in 2001. M.V. Foundation in Andhra Pradesh found nearly 400,000 children, mostly girls between seven to 14 yearsof age, toiling for 14-16 hours a day in cottonseed production across the country of which 90% are employed in Andhara Pradesh. 40% of the labour in a precious stone cutting sector is children. NGOs have discovered the use of child labourers in mining industry in Bellary District in Karnataka in spite of a harsh ban on the same. In urban areas there is high employment of children in the zari and embroidery industry.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>