<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">child welfare commitee</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu" page="generalprinciple.html"><a>General Principle</a></li>
      <li class="sidemenu" page="pocwc.html"><a>Power of CWC</a></li>
      <li class="sidemenu" page="limitation.html"><a>Limitations</a></li>
      <li class="sidemenu" page="focwc.html"><a>Functions Of CWC</a></li>
      <li class="sidemenu" page="responsibilityocwc.html"><a>Responsibilities of CWC</a></li>
      <li class="sidemenu" page="childfriendly.html"><a>Child Friendly</a></li>
      <li class="sidemenu" page="sop.html"><a>Special Categories</a></li>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content">
    <p> The Juvenile Justice (Care and Protection of children) Amendment Act,2006 makes it mandatory to establish one Child Welfare Committee in each district as the final authority to dispose of cases for the care, protection, treatment , development and rehabilitation of children in need of care and protection and to provide for their basic needs and protection of human rights.</p>
    <p>Child Welfare Committees (CWCs) have been designated by law as the final district-level authorities for the care, protection, treatment, development and rehabilitation of Children in Need of Care and Protection (CNCP). CWCs thus have the sole authority to deal with matters concerning CNCP and are bestowed with the powers of a first class judicial magistrate.</p>
    <h3>Standard Operating Procedures for Child Welfare Committees</h3>
    <p>Under the Juvenile Justice (Care and Protection of Children) Act 2000,</p>
    <p>As amended by Juvenile Justice (Care and Protection of Children) Act, 2006</p>
    <h3>Standard Operating Procedures</h3>
    <p>The Standard Operating Procedures to help the Child Welfare Committee were prepared by the Department of Women and Child Development, UNICEF, NGOs and experts in the field of child development. This SOP has been issued by G R OP – 2009/CR 341/ D- 3.</p>
    <p>UNICEF is privileged to have had the opportunity to contribute to the development of the Standard Operating Procedures for the Child Welfare Committee, the Competent Authority appointed under the Juvenile Justice (Care and Protection of Children) Act 2000 for children in need of care and protection.</p>
    <p>The Standard Operating Procedures were developed through a collaborative partnership with the Department of Women and Child Development, Government of Maharashtra, representatives of NGOs, legal experts, child welfare committee members and UNICEF. They have evolved out of intensive groundwork carried out by social and legal experts, people from within the Government system and outside it and are enriched by the examples of good practices from the field that have worked in the interest of children. These efforts spanned over an entire year before the SOPs were finalized and issued as a Government Resolution.</p>

  </div>
  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>