<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">Definations</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu"><a href="/homes/child_labor">Child Labour</a></li>
      <li class="sidemenu"><a href="/homes/child_labor_definations">Definitions</a></li>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content">
    <h3>Definitions</h3>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Surrendered Child
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" align="justify">
          <div class="panel-body" align="justify">
            A surrendered child is a child, who in the opinion of the Committee, is “given up or given away” on account of physical, emotional and social factors beyond the control of the biological parent or guardian.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Abandoned Child or Missing Child
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body" align="justify">
            Abandoned Child-An abandoned child is a child found without any adult accompanying him/her, most of the times at places like railway stations, in or around dustbins, roadside e tc . w h i c h co u l d i n d i cate the fact that parent(s)/guardians have deliberately abandoned the child.

            Missing Child-A child found without any adult accompanying him/her or a child unable to express verbally or non- verbally that he/she is missing. A missing child is one where the child cannot explain where she/he stays and the parents cannot be located. Such a child should be given immediate admission into a Children’s Home that caters to children of her/his age.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Procedure to be followed for declaring a child free for adoption
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body" align="justify">
            Orphan: According to Rule 2(k) of the Model Rules under the Juvenile Justice Act, 2000 amended in 2006 “Orphan” means a child who is “without parents or willing and capable legal or natural guardian”.

            Adoption: The JJ Act Sec 2(aa) defines adoption as the process through which the adopted child is permanently separated from his/ her biological parents and becomes the legitimate child of his/her adoptive parents with all the rights, privileges and responsibilities that are attached to the relationship.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              child of parent considered unfit for their care
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body" align="justify">
            Either the CWC can rule the parents unfit or the parents themselves may express their inability to look after the child.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
              Child Marriage
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body" align="justify">
            Sec 2 of the Prohibition of Child Marriage Act 2006, defines child marriage as a marriage “where either of the contracting parties is a child.” It is to be noted that for boys the age of marriage is 21 years and for girls it is 18 years.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
              Working Child
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
          <div class="panel-body" align="justify">
            Procedure to be followed when a working child/ child labourer is produced before the Child Welfare Committee In addition to the Standard procedures to be followed as laid out in Chapter 3 following Special Procedures have to be followed whenever a working child is produced before the CWC.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
              Child Beggar
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
          <div class="panel-body" align="justify">
            As per the Indian Penal Code, 1860, begging refers to ‘the practice of soliciting or receiving alms in a public or private place by any means’. Using a minor as an exhibit for the purpose of soliciting or receiving alms is considered as begging and is punishable under Section 363 A.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
              Street Child
            </a>
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
          <div class="panel-body" align="justify">
            Street children are children who live and work on the streets with little or no family support. Some of them may be abandoned; some may have a family but may not want to be reunited with the family. Some may be runaway children, living alone on the street.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
              Child Trafficked for sexual exploitation
            </a>
          </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
          <div class="panel-body" align="justify">
            According to Article 3 of the UN Protocol to Prevent, Suppress and Punish Trafficking in Persons, especially Women and Children Supplementing the UN Convention against Transnational Organized Crimes, 2000, “Trafficking in persons shall mean the recruitment, transportation, transfer, harbouring or receipt of persons by means of the threat or use of force or other forms of coercion, of abduction, of fraud, of deception, of the abuse of power or of a position of vulnerability or of the giving or receiving of payments or benefits to achieve the consent of a person having control over another person, for the purpose of exploitation”. Consent is considered immaterial in the case of children.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
              Child Who is victim of abuse
            </a>
          </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
          <div class="panel-body" align="justify">
            The World Health Organization defines child abuse as “all forms of physical and or emotional ill treatment, sexual abuse, neglect or negligent treatment or commercial or other exploitation, resulting in actual or potential harm to the child’s health, survival development or dignity in the context of a relationship of responsibility, trust or power.”
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTenone">
              Child who is mentally or physically Challenged
            </a>
          </h4>
        </div>
        <div id="collapseTenone" class="panel-collapse collapse">
          <div class="panel-body" align="justify">
            Persons with the following conditions are considered to be persons with disability as per the Persons with Disabilities (Equal Opportunities, Protection of Rights and Full Participation) Act, 1995: blindness, low vision, leprosy-cured, hearing impairment, locomotor disability, mental retardation and mental illness. In addition, the following disabilities are also covered as per the National Trust for Welfare of Persons with Autism, Cerebral Palsy, Mental Retardation and Multiple Disabilities Act, 1999 including Autism, Cerebral Palsy, Mental Retardation and Multiple Disabilities.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTentwo">
              Child affected by HIV/AIDS
            </a>
          </h4>
        </div>
        <div id="collapseTentwo" class="panel-collapse collapse">
          <div class="panel-body" align="justify">
            Children affected by HIV/AIDS include those who are HIV positive, those who have been orphaned by AIDS, those who are living in a household which is affected by HIV/AIDS – usually because their parent is HIV positive. (SAARC Regional Framework for programming for children affected by HIV/AIDS, 2007).
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>