<ol class="breadcrumb">
  <li><a href="index.html">Home</a></li>
  <li class="active">Register A Complaints</li>
</ol><!-- breadcrum -->
<div class="container">
  <!-- <div class="col-lg-2"></div> -->
  <div class="col-lg-11 col-sm-11">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-3 col-sm-3"></div>
        <%= flash_messages %>
        <%= image_tag 'complaint.jpg' ,:hspace => '50' ,:class => "img-responsive" %>
        &nbsp;
        <%= form_for(:user_complaint, :url => {:controller => 'homes',:action => 'complaint'}, :method => :post, :html => {:class => 'form-horizontal',:role => 'form' }) do |f| %>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">First Name</label>
              <div class="col-sm-10">
                <%= f.text_field :first_name, :class => 'form-control' ,:placeholder => 'First Name' %>
                <% if !@user_complaint.nil? %>
                    <p class="inline-errors"><%= (@user_complaint.errors[:first_name] && @user_complaint.errors[:first_name].class.name != "String") ? (@user_complaint.errors[:first_name].join(", ")) : (@user_complaint.errors[:first_name]) %></p>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Last Name</label>
              <div class="col-sm-10">
                <%= f.text_field :last_name, :class => 'form-control' ,:placeholder => 'Last Name' %>
                <% if !@user_complaint.nil? %>
                    <p class="inline-errors"><%= (@user_complaint.errors[:last_name] && @user_complaint.errors[:last_name].class.name != "String") ? (@user_complaint.errors[:last_name].join(", ")) : (@user_complaint.errors[:last_name]) %></p>
                <% end %>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Contact Number</label>
              <div class="col-sm-10">
                <%= f.text_field :contact_no, :class => 'form-control' ,:placeholder => '9689101088' %>
                <% if !@user_complaint.nil? %>
                    <p class="inline-errors"><%= (@user_complaint.errors[:contact_no] && @user_complaint.errors[:contact_no].class.name != "String") ? (@user_complaint.errors[:contact_no].join(", ")) : (@user_complaint.errors[:contact_no]) %></p>
                <% end %>
              </div>
            </div>


            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Complainer's Email</label>
              <div class="col-sm-10">
                <%= f.text_field :email, :class => 'form-control' ,:placeholder => 'example@gmail.com' %>
                <% if !@user_complaint.nil? %>
                    <p class="inline-errors"><%= (@user_complaint.errors[:email] && @user_complaint.errors[:email].class.name != "String") ? (@user_complaint.errors[:email].join(", ")) : (@user_complaint.errors[:email]) %></p>
                <% end %>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Complaint Area</label>
              <div class="col-sm-10">
                <%= f.text_field :area, :class => 'form-control' ,:placeholder => 'Your Address' %>
              </div>
            </div>

            <div class="form-group">
              <label for="inputcomplaintsubject" class="col-sm-3 control-label">Complaint Subject</label>
              <div class="col-sm-12">
                <%= f.radio_button :subject, "1" %>
                <%= f.label :subject, "Child Labour", :value => "बाल कामगार" %><br>
                <%= f.radio_button :subject, "2" %>
                <%= f.label :subject, "Child Begging", :value => "बाल भिक्षुक" %><br>
                <%= f.radio_button :subject, "3" %>
                <%= f.label :subject, "Sex Trafficking", :value => "लिंग- वाहतुकीत" %><br>
                <%= f.radio_button :subject, "4" %>
                <%= f.label :subject, "Other", :value => "इतर" %>

              </div>
            </div>

            <div class="form-group">
              <label for="inputemployeradd" class="col-sm-3 control-label">Last Seen Date</label>
              <div class="col-sm-10">
                <%= f.date_field :last_seen_date, :class => 'form-control' ,:placeholder => '01-23-2015' %>
                <% if !@user_complaint.nil? %>
                    <p class="inline-errors"><%= (@user_complaint.errors[:last_seen_date] && @user_complaint.errors[:last_seen_date].class.name != "String") ? (@user_complaint.errors[:last_seen_date].join(", ")) : (@user_complaint.errors[:last_seen_date]) %></p>
                <% end %>
              </div>
            </div>

            <div class="form-group">
              <label for="inputemployeradd" class="col-sm-3 control-label">Get Update on E-mail</label>
              <div class="col-sm-10">
                <%= f.check_box :update_on_email  %>
              </div>
            </div>

            <div class="form-group">
              <label for="inputemployername" class="col-sm-3 control-label">Name of Employer</label>
              <div class="col-sm-10">
                <%= f.text_field :name_of_employee, :class => 'form-control' ,:placeholder => 'Employer Name' %>
                <% if !@user_complaint.nil? %>
                    <p class="inline-errors"><%= (@user_complaint.errors[:name_of_employee] && @user_complaint.errors[:name_of_employee].class.name != "String") ? (@user_complaint.errors[:name_of_employee].join(", ")) : (@user_complaint.errors[:name_of_employee]) %></p>
                <% end %>
              </div>
            </div>

            <div class="form-group">
              <label for="inputemployeradd" class="col-sm-3 control-label">Employer Address Details</label>
              <div class="col-sm-10">
                <%= f.text_field :employee_address_details, :class => 'form-control' ,:placeholder => 'Employer Address' %>
              </div>
            </div>

            <div class="form-group">
              <label for="inputemployeradd" class="col-sm-3 control-label">Complaint Description</label>
              <div class="col-sm-10">
                <%= f.text_field :description, :class => 'form-control' ,:placeholder => 'Details of Complaint' %>
              </div>
            </div>
            <div class="form-group">
              <label for="inputemployeradd" class="col-sm-3 control-label">Private Information</label>
              <div class="col-sm-10">
                <%= f.check_box :is_private %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9" align="center">
                <%= f.submit "Save Complaint" ,:class => 'btn btn-default' ,:style=>"text-align: center;"%>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>