<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">Documents</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu"><a href="/homes/governmentresolution">Government Resolutions</a></li>
      <li class="sidemenu" page="/homes/governmentresolution"><a>&nbsp;&nbsp;&nbsp;1] 25th APR 2006</a></li>
      <li class="sidemenu" page="/homes/pocwc"><a>&nbsp;&nbsp;&nbsp;2] 3rd JULY 2007</a></li>
      <li class="sidemenu" page="/homes/limitation"><a>&nbsp;&nbsp;&nbsp;3] 2nd March 2009</a></li>
      <li class="sidemenu" page="/homes/limitation"><a>&nbsp;&nbsp;&nbsp;4] 12th APR 2012</a></li>
      <li class="sidemenu"><a href="/homes/courtjudgment">Supreme Court Judgements</a></li>
      <li class="sidemenu"><a href="/homes/childlabouract">Child Labour Prohibation and Regulation Act,1986</a></li>

    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content" align="justify">
    <p></p><h3>Supreme Court Judgments</h3><p></p>
    <p>Main features of the directions of Supreme Court in their Judgment as on 10th December 1996
      On 10th December 1996 in Writ Petition (Civil) No.465/1986  on MC Mehta verses state of Tamil Nadu  the Supreme Court of India, gave certain directions on the issue of elimination of child labour. The main features of judgment are as under:
      Survey for identification of working children;
      Withdrawal of children working in hazardous industry and ensuring their education in appropriate institutions;
      Contribution @ Rs.20,000/- per child to be paid by the offending employers of children to a welfare fund to be established for this purpose;
      Employment to one adult member of the family of the child so withdrawn from work and it that is not possible a contribution of Rs.5,000/- to the welfare fund to be made by the State Government;
      Financial assistance to the families of the children so withdrawn to be paid -out of the interest earnings on the corpus of Rs.20,000/25,000 deposited in the welfare fund as long as the child is actually sent to the schools;
      Regulating hours of work for children working in non-hazardous occupations so that their working hours do not exceed six hours per day and education for at least two hours is ensured. The entire expenditure on education is to be borne by the concerned employer.
      The implementation of the direction of the Hon’ble Supreme Court is being monitored by the Ministry of Labour and compliance of the directions have been reported in the form of Affidavits on 05.12.97, 21.12.1999, 04.12.2000,  04.07.2001 and 04-12-2003 to the Hon’ble Court on the basis of the information received from the State/UT Governments.   </p>
  </div>

  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>