<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">guide for employers</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu" page="occupation.html"><a>Occupation</a></li>
      <li class="sidemenu" page="process.html"><a>Processes</a></li>
      <li class="sidemenu" page="healthandsafty.html"><a>Health and safety</a></li>
      <li class="sidemenu" page="penalties.html"><a>Penalties</a></li>
      <li class="sidemenu" page="legalprovisions.html"><a>Legal provision</a></li>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content">
    <p>1."child" means a person who has not completed his fourteenth year of age;</p>

    <p>2. "day" means a period of twenty-four hours beginning at midnight;</p>

    <p>3. "establishment" includes a shop, commercial establishment, work-shop, farm, residential hotel, restaurant, eating-house, theatre or other place of public amusement or entertainment;</p>

    <p>4. "occupier", in relation to an establishment or a workshop, means the person who has the ultimate control over the affairs of the establishment or workshop;</p>

    <p>5. "week" means a period of seven days beginning at midnight on Saturday night or such other night as may be approved in writing for a particular area by the Inspector</p>

    <p>6. "workshop" means any premises (including the precincts thereof) wherein any industrial process in carried on, but does not include any premises to which the provisions of Sec. 67 of the Factories Act, 1948 (63 of 1948), for the time being, apply.</p>
  </div>
  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>