<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">Functions Of CWC</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu"> <a href="/homes/generalprinciple">General Principle</a></li>
      <li class="sidemenu"> <a href="/homes/pocwc">Power of CWC</a></li>
      <li class="sidemenu"> <a href="/homes/limitation">Limitations</a></li>
      <li class="sidemenu"> <a href="/homes/focwc">Functions Of CWC</a></li>
      <li class="sidemenu"> <a href="/homes/responsibilityocwc">Responsibilities of CWC</a></li>
      <li class="sidemenu"> <a href="/homes/childfriendly">Child Friendly</a></li>
      <li class="sidemenu"> <a href="/homes/sop">Special Categories</a></li>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content" align="justify">
    <h3>Functions of CWC</h3>
    <p>The CWC shall perform the following functions to achieve the objectives of the JJ Act, namely:</p>

    <p>1] Take cognizance(Knowledge) of and receive children produced before the Committee, Decide on the matters brought before the Committee.</p>
    <p>2] Reach out to such children in need of care and protection who are not in a position to be produced before the Committee, being in difficult circumstances. The CWC is empowered to suo-moto take action on behalf of such children.</p>
    <p>3] Conduct necessary inquiry on all issues relating to and affecting the safety and well being of the child (Rule 8(15)) through PO, VPO, recognised agencies).</p>
    <p>4] Direct the Child Welfare Officers or Probation Officers or non-governmental organisations to conduct social inquiry and submit a report to the Committee.
    <p>5] Ensure necessary care and protection, including immediate shelter.</p>
    <p>6] Ensure appropriate rehabilitation and restoration, including passing necessary directions to parents or guardians or fit persons or fit institutions in this regard, in addition to follow-up and coordination with District Child Protection Unit or State Adoption Resource Agency and other agencies.</p>
    <p>7] Maintain a periodic review and follow up on the progress of every child.</p>
    <p>8] Direct the Officer-in-charge of children’s homes to receive children requiring shelter and care.</p>
    <p>9] Document and maintain detailed case record along with a case summary of every case dealt by the Committee.</p>
    <p>10] Provide a child-friendly environment for children: Section 2 (d) of the Model rules state that <b>Child friendly</b> means any process and interpretation attitude environment and treatment, that is humane, considerate and in the interest of the child. This would mean setting up a work culture which would help the child to feel at ease. This would include display of colourful charts and a few toys or games. Also the CWC members should ensure that they speak in a befitting manner to the child and avoid harsh language or tone.</p>
    <p>11] Recommend <b>fit institutions</b>to the State Government for the care and protection of children.</p>
    <p>12] Declare <b>fit person</b> or <b>fit institution</b> for an individual child.</p>
    <p>13] Declare a child legally free for adoption.</p>
    <p>14] Keep information about and take necessary follow-up action in respect of missing children in their jurisdiction.</p>
    <p>15] Maintain liaison(communication) with the JJ Board in respect of cases needing care and protection.</p>
    <p>16] Visit institution where children are sent for care and protection or adoption on a periodic basis to review the condition of children in institutions, with support of the State Government and suggest necessary action.</p>
    <p>17] Monitor associations and agencies within their jurisdiction that deal with children in order to check on the exploitation and abuse of children.
    <p>18] Co-ordinate with the Police, Labour Department and other agencies involved in the care and protection of children with the support of District and State DWCD(Department of Women and Child Development) machinery.</p>
    <p>18] Liaison and network with the corporate sector and non-governmental organisations for any of the above, including for social inquiry, restoration and rehabilitation, as and when required.</p>
    <p>19] Maintain a suggestion box to encourage inputs from children and adults alike and take necessary action.</p>
    <p>20] Maintain a resource directory which is a ready list of NGOs, shelter homes, hospitals, rehabilitation centres, counselling centres or counsellors, interpreters whose services could be accessed or to which children could be referred to by the members.</p>

  </div>
  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>