<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">General Principle</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu"> <a href="/homes/generalprinciple">General Principle</a></li>
      <li class="sidemenu"> <a href="/homes/pocwc">Power of CWC</a></li>
      <li class="sidemenu"> <a href="/homes/limitation">Limitations</a></li>
      <li class="sidemenu"> <a href="/homes/focwc">Functions Of CWC</a></li>
      <li class="sidemenu"> <a href="/homes/responsibilityocwc">Responsibilities of CWC</a></li>
      <li class="sidemenu"> <a href="/homes/childfriendly">Child Friendly</a></li>
      <li class="sidemenu"> <a href="/homes/sop">Special Categories</a></li>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content" align="justify">
    <h3>General Principle</h3>
    <p>The decisions of the CWC are informed by the general principles laid down in the JJ Act and CRC, which is the moral, ethical and value framework that upholds the approach to be taken for children who need the care and protection of the state. These principles convey the essence of the Act which is to ensure that-</p>

    <p>1] The child remains within the family and institutionalization is the last resort.</p>
    <p>2] Every decision is made on a case to case basis, looking at the unique circumstances of the child.</p>
    <p>3] Decisions are informed by a thorough assessment of the child and his/her situation.</p>
    <p>4] Confidentiality is ensured in all processes pertaining to the child and her/his family.</p>
    <p>5] Informed consent of the child is sought in all processes including for interviewing the child, medical testing etc and the childs views are taken into account in the process of decision making.</p>
    <p>6] Protection of the child is ensured at all stages of rehabilitation and social integration.</p>
    <p>7] The childs progress is reviewed on a periodic basis.</p>
  </div>
  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>