<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">Human Trafficking</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu"> <a href="/homes/human_trafficking">Human Trafficking</a></li>
      <li class="sidemenu"> <a href="/homes/sex_trafficking">SEX Trafficking</a></li>
      <li class="sidemenu"> <a href="/homes/mumbai_comabats">How IJM Mumbai Combats &nbsp;&nbsp;&nbsp;&nbsp;Sex Trafficking</a></li>
      <li class="sidemenu"> <a href="/homes/crime_human_traffic">Crime of Human Trafficking</a></li>
      <li class="sidemenu"> <a href="/homes/sex_traffic_work">How Sex Trafficking Works</a></li>
      <li class="sidemenu"> <a href="/homes/investing_sex_traffic">Investigating Sex-Trafficking &nbsp;&nbsp;&nbsp;&nbsp;Crimes</a></li>
      <li class="sidemenu"> <a href="/homes/conducting_sescue">Conducting Sescue &nbsp;&nbsp;&nbsp;&nbsp;Operation</a></li>
      <li class="sidemenu"> <a href="/homes/victime">Working with Victime</a></li>
      <li class="sidemenu"> <a href="/homes/achieving_higher">Achieving Higher &nbsp;&nbsp;&nbsp;&nbsp;Convictions</a></li>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content" align="justify">
    <p class="impmsg">Human Trafficking</p>
    <p></p><ol>
    <li type="square">13.9 millions, 50% of world's slaves are in India!</li>
    <li type="square">After drug dealing, human trafficking is the second largest criminal industry in the world!</li>
    <li type="square">Central Bureau of Investigations estimates that there are 1.2 children sexually exploited in India!</li>
    <li type="square">Traffickers prey on poverty stricken families and promise brighter futures for young girls in the city.</li>
    <li type="square">Girls are deceived, coerced, tricked, kidnaped, displaced, bought and sold.</li>
    <li type="square">Girls are abused and enslaved into sexual slavery.</li>
  </ol>
    <p></p>
    <p class="impmsg">Trafficking Definition Palermo Protocol-2000</p>
    <p>The Palermo Protocol</p>
    <p>The Protocol to prevent, suppress and punish trafficking in persons, especially women and children, supplementing the United Nations Convention Against Transnational Organized Crime (also know as the Palermo Protocol) is the internationally accepted definition of human trafficking.</p>
    <p>This Protocol (which is in force) was signed by the United Kingdom on 14 December 2000 and ratified on 9 February 2006. It provides a definition of trafficking which has since become a widely accepted standard and used in other international instruments. It also outlines protection for victims.</p>
    <p>Article 3 of the Protocol defines trafficking as:</p>
    <p><strong><i>(a) "Trafficking in persons" shall mean the recruitment, transportation, transfer, harbouring or receipt of persons, by means of the threat or use of force or other forms of coercion, of abduction, of fraud, of deception, of the abuse of power or of a position of vulnerability or of the giving or receiving of payments or benefits to achieve the consent of a person having control over another person, for the purpose
      of exploitation. Exploitation shall include, at a minimum, the exploitation of the prostitution of others or other forms of sexual exploitation, forced labour or services, slavery or practices similar to slavery, servitude or the removal of organs;</i></strong></p>
    <p>(b) The consent of a victim of trafficking in persons to the intended exploitation set forth in subparagraph (a) of this article shall be irrelevant where any of the means set forth in subparagraph (a) have been used;</p>
    <p>(c) The recruitment, transportation, transfer, harbouring or receipt of a child for the purpose of exploitation shall be considered "trafficking in persons" even if this does not involve any of the means set forth in subparagraph (a) of this article;</p>
    <p>(d) "Child" shall mean any person under eighteen years of age.</p>
    <p>Trafficking breaks down into three elements:</p>
    <p>1. The act (what is done) 'Recruitment, transportation, transfer, harbouring, or receipt of persons';</p>

    <p>2. The means (how it is done) 'Threat or use of force or other forms of coercion, of abduction, of fraud, of deception, of the abuse of power or of a position of vulnerability or of the giving or receiving of payments or benefits to achieve the consent of a person having control over another person';</p>

    <p>3. The purpose (why it is done) 'For the purpose of exploitation... Exploitation shall include, at a minimum, the exploitation of the prostitution of others or other forms of sexual exploitation, forced labour or services, slavery or practices similar to slavery, servitude or the removal of organs' (Note there is no requirement for the purpose to have been achieved, so a person who is rescued before exploitation occurs is still a victim of trafficking).</p>

    <p>The Palermo Protocol establishes children as a special case for whom only two components required - movement and exploitation - because a child can not give consent to being exploited, even if they are aware/agreeable to being moved.</p>

  </div>
  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>