
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "s1.png" ,:alt=>"..."%>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag "s2.png" ,:alt=>"..."%>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag "s3.png" ,:alt=>"..."%>
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><!--carousel -->

<div class="container">
  <!-- <div class="col-lg-2"></div> -->
  <div class="col-lg-5 col-sm-5">
    <h3>The "Child Labour" problem...</h3>
    <p class="impmsg">India is the sadly the home to the largest number of the labourers in the word. The census found an increase in the number of child labourers from 11.28 million in 1991 to 12.59 million in 2001.</p>
    <p>M.V. Foundation in Andhra Pradesh found nearly 400,000 children,mostly girls between seven to 14 yearsof age, toiling for 14-16 hours a day in cottonseed production across the country of which 90% are employed in Andhara Pradesh. 40% of the labour in a precious stone cutting sector is children. &nbsp;&nbsp;<a href="what_is_child_labour.html">Read More</a></p>
    <ul class="ul">
      <li><a href=""><span>Explore what we are doing</span></a></li>
      <li><a href=""><span>Be a part of this movement</span></a></li>
      <li><a href=""><span>Donate now to help us</span></a></li>
    </ul>
    <div><h4>THE PROBLEM SEX TRAFFICKING...</h4>
      <p class="impmsg">Mumbai is India's largest city-22 million people- and the commercials, finacial and entertainment capital of the country. It is also home to one of Asia's largest red-light districts.</p>
      <p>Every year, scores of girls are trafficked across state borders and from Nepal and Bangladesh to Mumbai. Traffickers prey on young women without a support network, selling them to brothels where they are exploited in the comercial sex industry. Sex trafficking is a violent crime: IJM met survivors who were beaten, starved or forced to use drugs and alcohol. Some have shared that they were raped more than a dozen times in a day.&nbsp;&nbsp;<a href="what_is_child_labour.html">Read More</a></p>
    </div>
  </div>
  <div class="col-lg-6 col-sm-6">
    <h3>Let's see how severe it is!</h3>
    <a href="video.html" ><%= image_tag "vdo.png" ,:alt=>"..." ,:class=> 'img-responsive' ,:alt=>"Video"%></a>
    <!-- <div class="embed-responsive embed-responsive-4by3">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/4SswIYA-7_4" frameborder="0" allowfullscreen></iframe>
     </div> -->
    <h3>What others say about us</h3>
    <div class="col-lg-4 col-sm-4">
      <%= image_tag "kb.jpg" ,:class=>"img-responsive img-circle", :alt=>"Responsive image"%>
    </div>
    <div class="col-lg-12 col-sm-12">
      <p>The Problem of child labour continues to challenge before the nation. Government has been taking various pro-active measures to tackle this problem.</p>
      <h4>Ms. Kiran Bedi</h4>
      <h5>(Retired Police Officer)</h5>
    </div>
  </div>
  <div class="col-lg-5 col-sm-5">
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive" ,:alt=>"Responsive image"%>

  </div>


  <!-- <div class="col-lg-2"></div> -->
</div><!-- content -->


