<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">guide for employers</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu"> <a href="/homes/occupation">Occupation</a></li>
      <li class="sidemenu"> <a href="/homes/process_list">Processes</a></li>
      <li class="sidemenu"> <a href="/homes/healthandsafty">Health and safety</a></li>
      <li class="sidemenu"> <a href="/homes/penalties">Penalties</a></li>
      <li class="sidemenu"> <a href="/homes/legalprovisions">Legal provision</a></li>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content" align="justify">
    <h3>Occupation</h3>
    <p>Any occupation concerned with: -</p>

    <p>(1) Transport of passengers, goods or mails by railways.</p>

    <p>(2) Cinder picking, clearing of an ash pit or building operation in the railway premises.</p>

    <p>(3) Work in a catering establishment at a railway station, involving the movement of a vendor or any other employee of the establishment from the one platform to another or in to or out of a moving train.</p>

    <p>(4) Work relating to the construction of a railway station or with any other work where such work is done in close proximity to or between the railway lines.</p>

    <p>(5) A port authority within the limits of any port.</p>

    <p>(6) Work relating to selling of crackers and fireworks in shops with temporary licenses.</p>

    <p>(7) Abattoirs/Slaughter House.</p>

    <p>(8) Automobile workshops and garages.</p>

    <p>(9) Foundries;</p>

    <p>(10) Handling of toxic or inflammable substances or explosives.</p>

    <p>(11) Handloom and power loom industry.</p>

    <p>(12) Mines (underground and under water) and collieries.</p>

    <p>(13) Plastic units and fiberglass workshops.</p>
  </div>

  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>