<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">Penalties</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu"> <a href="/homes/occupation">Occupation</a></li>
      <li class="sidemenu"> <a href="/homes/process_list">Processes</a></li>
      <li class="sidemenu"> <a href="/homes/healthandsafty">Health and safety</a></li>
      <li class="sidemenu"> <a href="/homes/penalties">Penalties</a></li>
      <li class="sidemenu"> <a href="/homes/legalprovisions">Legal provision</a></li>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content" align="justify">
    <h3>Penalties</h3>
    <p>(1) Whoever employs any child or permits any child to work in contravention of the provisions of Sec. 3 shall be punishable with imprisonment for a term which shall not be less than three months but which may extend to one year or with fine which shall not be less than ten thousand rupees but which may extend to twenty thousand rupees or with both.</p>

    <p>(2) Whoever, having been convicted of an offence under Sec. 3, commits a like offence afterwards, he shall be punishable with imprisonment for a term which shall not be less than six months but which may extend to two years.</p>

    <p>(3) Whoever –</p>

    <p>(a) fails to give notice as required by Sec. 9, or</p>

    <p>(b) fails to maintain a register as required by Sec. 11 or makes any false entry in any such register; or</p>

    <p>(c) fails to display a notice containing an abstract of Sec. 3 and this section as required by Sec. 12; or</p>

    <p>(d) fails to comply with or contravenes any other provisions of this Act or the rules made thereunder; shall be punishable with simple imprisonment which may extend to one month or with fine which may extend to ten thousand rupees or with both</p>
  </div>
  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>