<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">Process</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu"> <a href="/homes/occupation">Occupation</a></li>
      <li class="sidemenu"> <a href="/homes/process_list">Processes</a></li>
      <li class="sidemenu"> <a href="/homes/healthandsafty">Health and safety</a></li>
      <li class="sidemenu"> <a href="/homes/penalties">Penalties</a></li>
      <li class="sidemenu"> <a href="/homes/legalprovisions">Legal provision</a></li>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content" align="justify">
    <h3>Processes</h3>
    <p>(1) Beedi-making.</p>

    <p>(2) Carpet-weaving.</p>

    <p>(3) Cement manufacture, including bagging of cement.</p>

    <p>(4) Cloth printing, dyeing and weaving.</p>

    <p>(5) Manufacture of matches, explosives and fire-works.</p>

    <p>(6) Mica-cutting and splitting.</p>

    <p>(7) Shellac manufacture.</p>

    <p>(8) Soap manufacture.</p>

    <p>(9) Tanning.</p>

    <p>(10) Wool-cleaning.</p>

    <p>(11) Building and construction industry.</p>

    <p>(12) Manufacture of slate pencils (including packing).</p>

    <p>(13) Manufacture of products from agate.</p>

    <p>(14) Manufacturing processes using toxic metals and substances such as lead, mercury, manganese, chromium, cadmium, benzene, pesticides and asbestos.</p>

    <p>(15) “Hazardous processes” as defined in Sec.</p> 2 <p>(cb) and "dangerous operation" as notice in rules made under section 87 of the Factories Act, 1948 (63 of 1948)</p>

    <p>(16) Printing as defined in Section 2(k) (iv) of the Factories Act, 1948 (63 of 1948)</p>

    <p>(17) Cashew and cashewnut descaling and processing.</p>

    <p>(18) Soldering processes in electronic industries.</p>

    <p>(19) "Aggarbatti" manufacturing.</p>

    <p>(20) Automobile repairs and maintenance including processes incidental thereto namely, welding, lathe work, dent beating and painting.</p>

    <p>(21) Brick kilns and Roof tiles units.</p>

    <p>(22) Cotton ginning and processing and production of hosiery goods.</p>

    <p>(23) Detergent manufacturing.</p>

    <p>(24) Fabrication workshops <p>(ferrous and non ferrous)

    <p>(25) Gem cutting and polishing.</p>

    <p>(26) Handling of chromite and manganese ores.</p>

    <p>(27) Jute textile manufacture and coir making.</p>

    <p>(28) Lime Kilns and Manufacture of Lime.</p>

    <p>(29) Lock Making.</p>

    <p>(30) Manufacturing processes having exposure to lead such as primary and secondary smelting, welding and cutting of lead-painted metal constructions, welding of galvanized orzinc silicate, polyvinyl chloride, mixing (by hand) of crystal glass mass, sanding or scraping of lead paint, burning of lead in enameling workshops, lead mining, plumbing, cable making, wiring patenting, lead casting, type founding in printing shops. Store type setting, assembling of cars, shot making and lead glass blowing.</p>

    <p>(31) Manufacture of cement pipes, cement products and other related work.</p>

    <p>(32) Manufacture of glass, glass ware including bangles, florescent tubes, bulbs and other similar glass products.</p>

    <p>(33) Manufacture of dyes and dye stuff.</p>

    <p>(34) Manufacturing or handling of pesticides and insecticides.</p>

    <p>(35) Manufacturing or processing and handling of corrosive and toxic substances, metal cleaning and photo engraving and soldering processes in electronic industry.</p>

    <p>(36) Manufacturing of burning coal and coal briquettes.</p>

    <p>(37) Manufacturing of sports goods involving exposure to synthetic materials, chemicals and leather.</p>

    <p>(38) Moulding and processing of fiberglass and plastic.</p>

    <p>(39) Oil expelling and refinery.</p>

    <p>(40) Paper making.</p>

    <p>(41) Potteries and ceramic industry.</p>

    <p>(42) Polishing, moulding, cutting, welding and manufacturing of brass goods in all forms.</p>

    <p>(43) Processes in agriculture where tractors, threshing and harvesting machines are used and chaff cutting.</p>

    <p>(44) Saw mill – all processes.</p>

    <p>(45) Sericulture processing.</p>

    <p>(46) Skinning, dyeing and processes for manufacturing of leather and leather products.</p>

    <p>(47) Stone breaking and stone crushing.</p>

    <p>(48) Tobacco processing including manufacturing of tobacco, tobacco paste and handling of tobacco in any form.</p>

    <p>(49) Tyre making, repairing, re-treading and graphite benefication.</p>

    <p>(50) Utensils making, polishing and metal buffing.</p>

    <p>(51) "Zari" making <p>(all processes).</p>

    <p>(52) Electroplating;</p>

    <p>(53) Graphite powdering and incidental processing;</p>

    <p>(54) Grinding or glazing of metals;</p>

    <p>(55) Diamond cutting and polishing;</p>

    <p>(56) Extraction of slate from mines;</p>

    <p>(57) Rag picking and scavenging.</p>

    <p>A] for item (2), the following item shall be substituted, namely:-</p>

    <p>(2) carpet weaving including preparatory and incidental process thereof;</p>

    <p>B] for item(4), the following item shall be substituted, namely:-</p>

    <p>(4) cloth printing, dyeing and weaving including processes preparatory and incidental thereto:</p>

    <p>C] for item(11) the following shall be substituted, namely:-</p>

    <p>(11) Building and Construction Industry including</p>

    </p>processing and polishing of granite stones.</p>

    <p>* Ins. by Notification No. S.O.404(E) dated the 5th June 1989 published in the Gazette of India, Extraordinary.</p>

    <p># Ins. by Notification No. S.O. 263(E) dated 29th March, 1994 published in the Gazette of India, Extraordinary.</p>

    <p>$ Ins. Sr. No. 8-13 in Part A and Sr.No. 19-51 in Part B by Notification No. S.O. 36(E) dated 27th January 1999 published in the Gazette of India, Extraordinary.</p>

    <p>@ Ins.Sr. No. 52 – 57 part B by Notification No. S.O. 397(E) dated the 10th May 2001 published in the Gazette of India, Extraordinary.</p>
  </div>
  <div class="col-lg-5 col-sm-5">
    <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
    <a href="video.html" >
      <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
    <h3>News & Updates</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
        <div class="col-lg-12 col-sm-12">
          <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
        </div>
        <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
      </div>
    </div>
  </div>
</div>