<ol class="breadcrumb">
  <li><a href="/homes/index">Home</a></li>
  <li class="active">Responsibilities of CWC</li>
</ol><!-- breadcrum -->
<div class="container">
  <div class="col-lg-3 col-sm-3">
    <ul class="sidemenu">
      <li class="sidemenu"> <a href="/homes/generalprinciple">General Principle</a></li>
      <li class="sidemenu"> <a href="/homes/pocwc">Power of CWC</a></li>
      <li class="sidemenu"> <a href="/homes/limitation">Limitations</a></li>
      <li class="sidemenu"> <a href="/homes/focwc">Functions Of CWC</a></li>
      <li class="sidemenu"> <a href="/homes/responsibilityocwc">Responsibilities of CWC</a></li>
      <li class="sidemenu"> <a href="/homes/childfriendly">Child Friendly</a></li>
      <li class="sidemenu"> <a href="/homes/sop">Special Categories</a></li>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8" id="content" align="justify">
    <h3>Responsibilities of CWC</h3>
    <p>1] Follow up: The CWC should ensure that there is follow up for every child brought before it after the case has been finally heard and disposed of. For the first three months, follow up of the child should be done once every month.</p>

    <p>From 3 months to a year, the follow up should be undertaken at least once in 3 months.</p>

    <p>Further follow up should be done depending upon the situation of the child.</p>

    <p>For those children who are institutionalized the CWC should continue to monitor the progress of the childs health, education and psycho-social well being at least once in three months (quarterly).</p>

    <p>For those children who are discharged from institutions or are placed in non institutional alternative care, the follow up of the child should be conducted annually for at least 2 years, or depending on the need.</p>

    <p><b>Note 1:</b> The child should be monitored until he/she is in the care programme.</p>

    <p><b>Note 2:</b> If there is any change in the rehabilitation plan of the child it has to be reported to the CWC and review procedure has to follow accordingly.</p>

    <p>2] Institutionalisation only as a last resort: The CWC should ensure that there is no order passed for long term institutionalisation such as till the child turns 12 years or 18 years. If the CWC feels that the child needs to be separated from the family for a short duration for the childs care, safety and protection, it may give such an order for the shortest duration which may extend to 1 year. Such an order should be reviewed each year. Before giving such an order, theCWC has to give reasons why the child is being institutionalised and why family based non institutional services were not considered against institutionalisation.</p>

    <p>3] Complaints against improper care in Homes: The CWCs are expected to monitor the standards of care and protection in institutions within their jurisdiction.</p>

    <p>4] Facility of a translator: Make sure that an interpreter/translator is present, when child does not speak the same language as the CWC members.</p>

    <p>5] Filing FIR: Where required the CWC should ensure that the FIR is filed on behalf of the child properly and on time.</p>

    <p>An FIR: First Information Report filed by the Police should contain the following</p>

    <p>i) What exactly happened- the facts of the offence</p>
    <p>ii)Sequence of events</p>
    <p>iii)Name and description of offender (if possible)</p>
    <p>iv) Date and time of offence</p>
    <p>v) Place of offence</p>
    <p>vi) Description of injuries sustained</p>
    <p>vii) Names of witnesses (if any)</p>
    <p>viii) Appropriate section from the IPC and other Acts</p>
    <p>ix) Name and address of the complainant</p>
    <p>6] To be present during investigation by the police:When the police is making an inquiry i.e talking to the child either the CWC member should be <p>present or CWC should ensure that the NGO member or PO is present.</p>

    <p>7] Compensation: when a case is filed in the court the CWC may instruct the Public Prosecutor to ask for compensation under Section 357, 357-A of CrPC or applicable Acts for the victim child.</p>

    <p>8] Rehabilitation and Reintegration: Preparation of a rehabilitation and reintegration plan for every child. The rehabilitation plan should commence while the child is awaiting a decision and should take into account the child’s all round physical, psycho-social and educational rehabilitation.</p>

  </div>

<div class="col-lg-5 col-sm-5">
  <%= image_tag "helping_hand.jpg", :class=>"img-responsive video", :alt=>"Mumbai Police" %>
  <a href="video.html" >
    <%= image_tag "vdo.png", :class=>"img-responsive", :alt=>"Video"%></a>
  <h3>News & Updates</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-lg-4 col-sm-4"><%= image_tag "23june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
      <div class="col-lg-12 col-sm-12">
        <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
      </div>
      <div class="col-lg-4 col-sm-4"><%= image_tag "12june.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
      <div class="col-lg-12 col-sm-12">
        <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
      </div>
      <div class="col-lg-4 col-sm-4"><%= image_tag "15may.jpg", :class=>"img-responsive", :alt=>"Responsive image"%></div>
      <div class="col-lg-12 col-sm-12">
        <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
      </div>
      <div class="col-lg-4 col-sm-4"><%= image_tag "7may.jpg", :class=>"img-responsive ", :alt=>"Responsive image"%></div>
      <div class="col-lg-12 col-sm-12">
        <p><a href="">Some news & updates headline will be displayed here which people would read</a></p>
      </div>
      <button class="col-lg-12 col-sm-16 btn btn-default"><a href=""><span>View all</span></a></button>
    </div>
  </div>
</div>
</div>