<div class="row">
  <div class="col-md-4">
    <%= label_tag "#{t('employers_details')}"%>
  </div>
</div>
<%= bootstrap_form_for(@employer, :html => {:multipart => true}) do |f| %>
  <div class="col-md-5">
  <%= f.hidden_field :raid_id, value: @employer.raid_id %>
  <%= f.text_field :first_name ,label:"#{t('first_name')}",placeholder:"#{t('first_name')}"%>
  <%= f.text_field :middle_name ,label:"#{t('middle_name')}",placeholder:"#{t('middle_name')}"%>
  <%= f.text_field :last_name ,label:"#{t('last_name')}",placeholder:"#{t('last_name')}"%>
  <%= f.text_field :contact_no ,label:"#{t('contact_no')}",placeholder:"#{t('contact_no')}"%>
  <%= f.fields_for :addresses do |ff|%>
    <%= render 'addresses_form', f: ff %>
  <%end%>
  <%= f.text_field :shop_act_lnc, label:"#{t('shop_act_lnc')}",placeholder:"#{t('shop_act_lnc')}", class: 'en' %>
  <%= f.text_field :industry_type, label:"#{t('industry_type')}",placeholder:"#{t('industry_type')}" %><br/>
  <%= f.check_box :is_adhar_card, label: "#{t('adhar_card')}", class: "#{ @employer.is_adhar_card ? 'checked' : '' }", onchange: "show_hidden_field('adhar_card')" %>
  <%= text_field :employer, :adhar_card, label: "#{t('adhar_card')}", placeholder:"#{t('adhar_card')}", class: "form-control en #{ @employer.is_adhar_card ? '' : 'hidden' }"%>
  <%= f.check_box :is_voter_card, label: "#{t('voter_card')}", onchange: "show_hidden_field('voter_card')", class: "#{ @employer.is_voter_card ? 'checked' : '' }"%>
  <%= text_field :employer, :voter_card, label: "#{t('voter_card')}", placeholder:"#{t('voter_card')}", class: "form-control en #{ @employer.is_voter_card ? '' : 'hidden' }"%>
  <%= f.check_box :is_pan_card, label: "#{t('pan_card')}", onchange: "show_hidden_field('pan_card')", class: "#{ @employer.is_pan_card ? 'checked' : '' }"%>
  <%= text_field :employer, :pan_card, label: "#{t('pan_card')}", placeholder:"#{t('pan_card')}", class: "form-control en #{ @employer.is_pan_card ? '' : 'hidden' }" %><br/>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.label "#{t('laws')}" %><br/>
      <% @laws.each do |law| %>
        <% is_checked = law_checked(law.id) %>
        <%= check_box_tag "laws[]", law.id, is_checked, {class: "law_#{law.id} #{is_checked ? 'checked' : ''}", onchange: "show_hidden_data(#{law.id}, #{law.act_ids}, 'law', #{law.section_ids})"} %> <%= law.name %><br/>
        <div class="law_data_<%= law.id %> <%= is_checked ? '' : 'hidden'%> ">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <%= f.label "#{t('acts')}" %><br/>
          <% law.acts.each do |act| %>
            <% is_checked = act_checked(act.id) %>
            <%= check_box_tag "acts[]", act.id, is_checked, {class: "act_#{act.id} #{is_checked ? 'checked' : ''}", onchange: "show_hidden_data(#{act.id}, #{act.section_ids})"} %> <%= act.name %><br/>
            <div class="act_data_<%= act.id %> <%= is_checked ? '' : 'hidden'%>">
            <div class="col-md-1"></div>
            <div class="col-md-11">
              <%= f.label "#{t('scetions')}" %><br/>
              <% act.sections.each do |section| %>
                <% is_checked = section_checked(section.id) %>
                <%= check_box_tag "sections[]", section.id, is_checked, {class: "section_#{section.id} #{is_checked ? 'checked' : ''}"} %> <%= section.name %><br/>
              <%end%>
            </div>
            </div>
          <%end%>
        </div>
        </div>
      <%end%>
    </div>
  </div><br/>
  <div class="row">
    <div class="col-md-3">
      <%= f.label "#{t('attachment')}" %>
    </div>
    <div class="col-md-9">
      <%= link_to "#{t('add_file')}", attachments_dashboard_index_path, class: 'btn btn-success btn-xs', remote: true %>
    </div>
    <div class="col-md-12">
      <div class="attachment">
        <% unless @employer.new_record? %>
          <% @employer.attachments.each do |attachment|%>
            <% if IMAGE_CONTENT_TYPE.include? attachment.file_content_type %>
              <%= image_tag "#{attachment.file.url}", width: 200, height:200 %><br/>
            <%end%>
            <%= link_to attachment.file_file_name, attachment.file.url, target: '_blank', class: 'en'%><br/>
          <%end%>
        <% end %>
      </div>
    </div>
  </div>
  <%= submit_tag "#{t('save')}", class: 'btn btn-primary'%>
<% end %>
