<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employer.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @employer.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employer.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employer.address %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @employer.contact_no %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @employer.is_deleted %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
