<div class="add-btn">
<%= link_to "#{t('download_pdf')}", download_pdf_reports_path(type: 'cl_year_wise_report', year: @year) , class: 'btn btn-primary btn-xs', target: "_blank" %>
</div>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th><%=t('sr_no')%></th>
      <th><%=t('raid_id')%></th>
      <th><%=t('title')%></th>
      <th><%=t('employer_name_and_address')%></th>
      <th colspan="2"><%=t('child_labour_name_and_age')%></th>
      <th><%=t('police_station')%></th>
      <th><%=t('location')%></th>
    </tr>
  </thead>
  <tbody>
  	<% @raids.each_with_index do |raid, i|%>
    <tr>
    	<td><%= i+1 %></td>
    	<td><%= raid.id %></td>
    	<td class="md"><%= raid.title %></td>
    	<td><%= raid.employer_name %><br/>
          <%= raid.employer_address %></td>
    	<td><%= (child_labours(raid)[0]).html_safe %></td>
      <td><%= (child_labours(raid)[1]).html_safe %></td>
      <td class="md"><%= raid.department %></td>
      <td><%= raid.location.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>