
<div class="add-btn">
<%= link_to "#{t('download_pdf')}",'#',onclick:'getval()', class: 'btn btn-primary btn-xs'%>
</div>

<table id="datatable" class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%=t('select')%><%=link_to "#{t('select_all')}", '#', onclick: "selectAll();" %>
       <%=link_to "#{t('select_none')}", '#', onclick: "unselectAll();" %></th>
      <th><%=t('id')%></th>
      <th><%=t('name')%></th>
      <th><%=t('age')%></th>
      <th><%=t('father_name')%></th>
      <th><%=t('mother_name')%></th>
      <th><%=t('title')%></th>
      <th><%=t('raid_date')%></th>
    </tr>
  </thead>
  <tbody>
    <% @child_beggers.each do |child_begger| %>
      <tr>
        <td><%= check_box_tag :child, child_begger.id, false, class: 'check_box' %></td>
        <td><%= child_begger.id %></td>
        <td><%= link_to child_begger.full_name, panchnama_report_path(child_begger) %></td>
        <td><%= child_begger.age %></td>
        <td><%= child_begger.father_name %></td>
        <td><%= child_begger.mother_name %></td>
        <td class="md"><%= child_begger.raid.title %></td>
        <td class="en"><%= child_begger.raid.datetime.strftime('%d/%m/%Y')%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  function selectAll(){
   $('.check_box').prop('checked', true);
  }
  function unselectAll(){
   $('.check_box').prop('checked', false);
  }

  function getval(){
     var checkboxes = document.getElementsByName('child');    
     var checkboxesChecked = [];
  // loop over them all
  for (var i=0; i<checkboxes.length; i++) {
     // And stick the checked ones onto an array...
     if (checkboxes[i].checked) {
        checkboxesChecked.push(checkboxes[i].value);
     }
   }
     window.open('/reports/get_child_begger?childs='+checkboxesChecked);
  }
  
</script>