<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div class="container">
      <div class="col-md-12">
        <%= wicked_pdf_image_tag 'Logo.jpg', class: 'logo'%>
      </div>
    </div><br/>
  <div class="container inter-body">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-7">
    <div class="row reports">
      <div class="col-md-9">
     <p><%=t('police_station')%> % <b class="md"><%= @raid.department%></b></p>
      </div>
      <div class="col-md-3 en">
      <p><%=t('date_')%> %  <b class="md"><%= @raid.datetime.strftime('%d/%m/%Y')%></b></p>
      </div>
    </div>
   <div class="row reports">
      <div class="col-md-12">
      <p><%=t('child_labour_name')%> % <b><%=  @child_labour.full_name %><br>  </b><%=t('father_name')%> %  <b>  <%=  @child_labour.father_name %> <br> </b><%=t('mother_name')%> %  <b>  <%=  @child_labour.mother_name %>  , </b> <%=t('age')%> %  <b><%=  @child_labour.age %>  ,  </b>  <%=t('gender')%> %  <b>  <%=  @child_labour.gender %>  <br> </b><%=t('address')%> % <b><%=  @child_labour.address %> </b></p>  
      <p><%=t('employer_name')%> %  <b>  <%= @raid.employer_name %> <br> </b> <%=t('address')%> % <b>  <%= @raid.employer_address %></b></p>
      </div>
    </div>

    <div class="row reports">
      <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th><%= t('sr_no') %></th>
            <th><%= t('question') %></th>
            <th><%= t('answer') %></th>
          </tr>
        </thead>
        <tbody>
          <% @child_labour.answers.each_with_index do |ans, i|%>
          <tr>
            <td><%= i+1 %></td>
            <td class="md"><%= ans.question.question %></td>
            <td><%= ans.answer %></td>
          </tr>
          <% end %>
        </tbody>
        </table>
      </div>
    </div>
    <div class="row reports">
      <div class="col-md-12">
      <p><%= t('description')%> % <b><%= @child_labour.description %></b></p>
      <p><%= t('submited_by_user') %> % <b><%= @child_labour.submited_by_user %></b></p>
      </div>
    </div>
  </div>
</div>
    </div>
  </body>
</html>