<header id="header">
  <nav class="navbar navbar-top" role="navigation">
    <div class="navbar-header">
        <%= link_to dashboard_index_path do %><%= image_tag 'Logo.jpg', class: 'logo'%><%end%>
      </div>
    <div class="collapse navbar-collapse navbar-right logout">
      <ul class="nav navbar-nav">
        <li><%= link_to new_complaint_path do %>
          <i class="fa fa-edit"></i> <%=t('complaint')%><%end%>
        </li>
        <li>
        <a href="#", class="dropdown-toggle", data-toggle= "dropdown"><i class="fa fa-user icon-white"> <%= current_user.email %></i> <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><%= link_to "#{t('profile')}", edit_user_path(current_user)%></li>
          </ul>
        </li>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i> <%=t('log_out')%><%end%>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-left">
        <ul class="nav navbar-nav">
          <li class="<%= is_active_controller('dashboard') %>"><%= link_to dashboard_index_path do %><i class="fa fa-dashboard"></i> <%=t('dashboard')%><%end%></li>
          <li class="<%= is_active_controller('users') %>"><%= link_to users_path do %><i class="fa fa-users"></i> <%=t('users')%><%end%></li>
          <li class="<%= is_active_controller('child_labours') %>"><%= link_to child_labours_path do %><i class="fa fa-child"></i> <%=t('child_labour')%><%end%></li>
          <li class="<%= is_active_controller('child_beggers') %>"><%= link_to child_beggers_path do %><i class="fa fa-child"></i> <%=t('child_begger')%><%end%></li>
          <li class="<%= is_active_controller('employers') %>"><%= link_to employers_path do %><i class="fa fa-slideshare"></i> <%=t('employers')%><%end%></li>
          <li class="<%= is_active_controller('reports') %>"><%= link_to reports_path do %><i class="fa fa-file-text"></i> <%=t('reports')%><%end%></li>
        </ul>
      </div>
    </div><!--/.container-->
  </nav><!--/nav-->
</header><!--/header-->
<div>
  <ol class="breadcrumb en">
    <%= render_breadcrumbs :tag => :li, :separator => '' %>
  </ol>
</div>
<div class="container inter-body">
  <%= yield %>
</div>
<footer id="footer" class="midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 en">
        &copy; 2015 <%= link_to 'Plimited. ','#'%>
        <%= link_to 'All Rights Reserved.', '#'%>
      </div>
    </div>
  </div>
</footer>