<html>
<head>
  <title>ICL</title>
  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= javascript_include_tag 'home'%>
</head>
<body>

<%= render :partial => 'shared/home_header' %>

<%= yield%>
 <%= render :partial => 'shared/home_footer' %>

</body>
</html>